*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.div-one{
    height: 400px;
    width: 100%;
    background-color: red;
    float: left;
    padding-left: 160px;
    padding-top: 120px;
    color: yellow;
    margin-top: 0;
}
.div-two{
    height: 400px;
    width: 500px;
    background-color: black;
    float: left;
    color: white;
    padding-left: 160px;
    padding-top: 120px;
}

